<div class="container-fluid">
  <%= link_to "New Deck", new_deck_path %>
  <h3 class="text-center">Random Card</h3>
  <div class="col-lg-2">
    <ul>
    <% @decks.each do |d| %>
      <li><%= link_to d.name, d %></li>
    <% end %>
    </ul>
  </div>
</div>
