<h1 class="text-center"><%= @deck.name %></h1>
<div class="container">
  <% @deck.cards.shuffle.each do |c| %>
    <% if c.turned %>
      <div class="col-sm-2"><%= link_to c.name, c %></div>
    <% else %>
      <div class="col-sm-2"><%= link_to "Not Turned", c %></div>
    <% end %>
  <% end %>
</div>
<%= link_to "Reset", deck_reset_path, :class => "btn btn-primary" %>
